<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/register.css">
    <link rel="stylesheet" href="/public/css/login.css">

    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="containerflex1">
            <img src="/public/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logoimg">

            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas..">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>



            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>


        <nav>
            <div class="flex1">
                <div class="ul1">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </div>


                <div class="ul2">
                    <ul>
                        <li><a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></i></li>
                    </ul>
                </div>

            </div>
        </nav>




        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <main>
        <div class="formularioflex">
            <form action="" method="GET">
               
                <label for="nombre">Nombre de usuario: </label>
                <input type="text" name="apellido" id="apellido">


                <label for="pass">Contraseña: </label>
                <input type="password" name="pass" id="pass">
               

                <div class="btns"> 
                    <a class="btnenviar" href="home.html">Enviar formulario</a>
<!--                 <button type="submit"> Enviar formulario </button>
 -->                
                <button class="reset" type="reset">Borrar formulario </button>
            </div>
        </div>
        </form>
        </div>

    </main>

    <footer class="footer">
        <div class="footerflex">
            <article class="footer-article">
                <div>
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="footer-article">
                <div>
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>

        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>

</body>

</html>