<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">

    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="containerflex1">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logoimg">

            <div class="search-bar">
               
                <form action="">
                    <input type="text" placeholder="Buscar productos, marcas..">
                <button>
                    <i class="fas fa-search"></i>
                </button>
                </form>

                
            </div>
            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>


        <nav>
            <div class="flex1">
                <div class="ul1">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </div>


                <div class="ul2">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></i></li>
                    </ul>
                </div>

            </div>
        </nav>




        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <main>
        <div class="formularioflex">
            <form action="" method="get">

                <label for="nombre">Nombre y apellido: </label>
                <input type="text" name="nombre" id="nombre" class="nombreusuario">

                <label for="nombre">Nombre de usuario: </label>
                <input type="text" name="usuario" id="usuario">

                <label for="nombre">Domicilio </label>
                <input type="text" name="domicilio" id="domicilio">

                <label for="date">Fecha de nacimiento:</label>
                <input type="date" name="fechanacimiento" id="">

                <label for="pass">Contraseña: </label>
                <input type="password" name="pass" id="pass">
                <label for="pass">Confirmar contraseña: </label>
                <input type="password" name="pass" id="pass">

                <label for="email">Email:</label>
                <input type="email" name="email" id="email">


                <label for="select">Perfil de usuario: </label>
                <select name="perfildeusuario" id="select">
                    <option value="vendedor">Comprador</option>
                    <option value="comprador">Vendedor</option>
                </select>


                <H5>Categorias de interes</H5>
                <label class="seleccion" for="Electro"><input id="electro" type="checkbox" name="categoriasdeinteres"
                        value="Electro">Electro</label><br>
                <label class="seleccion" for="moda"><input id="moda" type="checkbox" name="categoriasdeinteres"
                        value="moda">Moda</label><br>
                <label class="seleccion" for="hogar"><input id="hogar" type="checkbox" name="categoriasdeinteres"
                        value="hogar">Hogar</label><br>
                <label class="seleccion" for="jugueteria"><input id="jugueteria" type="checkbox"
                        name="categoriasdeinteres" value="jugueteria">Jugueteria</label><br>
                <label class="seleccion" for="vidasana"><input id="vidasana" type="checkbox" name="categoriasdeinteres"
                        value="vidasana">Vida sana</label><br>

                <h5>Foto de usuario:</h5>
                <input type="file" name="" id="">

                <div class="btns">
                    <a class="btnenviar" href="home.html">Enviar formulario</a>

                    <button class="reset" type="reset">Borrar formulario </button>
                </div>
            </form>

        </div>

        </div>

    </main>

    <footer class="footer">
        <div class="footerflex">
            <article class="footer-article">
                <div>
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="footer-article">
                <div>
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>

        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>

</body>

</html>